body {
  background-color: #222;
}
#header {
  text-align: center;
  color: #d8d8d8;
  font-family: "Orbitron", sans-serif;
  font-stretch: expanded;
  width: 800px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border: none;
  height: 1px;
  color: #555; /* old IE */
  background-color: #555; /* Modern Browsers */
}
#comment {
  text-align: center;
  color: #d8d8d8;
  font-family: "Arial";
  font-family: sans-serif;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#footer {
  text-align: right;
  color: #d8d8d8;
  font-family: "Arial";
  font-family: sans-serif;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
